#contact_modal {
    display: none;
}

/* rules for photograph header */

.photograph-header {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: space-between;
    background-color: #FAFAFA;
    height: 300px;
    margin: 0 100px;
    position: relative;
}

.photograph-header span {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0px 30px;
}

.photograph-header img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    object-fit: cover;
}

.photograph-header h1 {
    color: #D3573C;
    font-size: 64px;
    font-weight: 400;
    margin-top: 5px;
}

.photograph-header h2 {
    color: #901C1C;
    font-size: 24px;
    font-weight: 400;
}

/* rules for card zone */

.body {
    margin: 0 100px;
}

.photograph-card {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.photograph-card a {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    
}

.photograph-card a img,
.photograph-card a video {
    width: 350px;
    height: 350px;
    object-fit: cover;
    border-radius: 5px;
    cursor: pointer;
}

.photograph-card span {
    font-size: 24px;
    font-weight: 500;
    color: #901C1C;
    position: relative;
    bottom: 56px;
    left: 290px;
    width: 20px;
    height: 20px;
}

.photograph-card p {
    font-size: 24px;
    font-weight: 400;
    color: #901C1C;
    margin-top: 10px;
    max-width: 290px;
    text-overflow: ellipsis;
}

.photograph-card i {
    width: 20px;
    height: 20px;
    font-size: 22px;
    color: #901C1C;
    position: relative;
    bottom: 58px;
    left: 300px;
    cursor: pointer;
}

   


/* zone sort */
.sort {
    display: flex;
    margin: 0 100px;
    font-size: 18px;
    font-weight: 700;
    
}

.dropdown {
    position: relative;
    display: inline-block;
    width: 150px;
}



.dropdown_body {
   
    position: absolute;
    background: #901C1C;
    text-align: left;
    width: 100%;
    height: auto;
    top: 45px;
    border-radius: 0px 0px 5px 5px;
    margin: 10px;
    flex-direction: column;
    display: none;
    z-index: 20;
}

.dropdown_body a {
    color: white;
    font-weight: 200;
    padding: 10px;
    width: 80%;
    margin-left: 5px;
    margin-top: 0px;
    cursor: pointer;
}

.choiceDate {
    border-bottom: 1px solid white;
    border-top: 1px solid white;
    margin-bottom: 0px;
}

.choiceTitle {
    margin: 0px;
}

.drop_btn {
    color: white;
    background: #901C1C;
    border: none;
    border-radius: 5px;
    padding: 15px;
    margin: 10px;
    cursor: pointer;
    width: 100%;
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: 200;
    
}


.angle-up {
    padding-left: 15px; 
    display: none!important;
}

.angle-down {
     padding-left: 15px;
}

/* rules modal */

.contact_button {

    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
    
}

.btn_center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#contact_modal {
    margin: auto;
    position: fixed;
    left: 0;
    top: 20px;
    right: 0;
    z-index: 1;
    overflow: auto;
    width: 40%;
    height: 100%;
    
}


.modal {
    
    border-radius: 5px;
    background-color: #DB8876;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
    
}

.modal header {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    align-items: flex-start;
    
}

.modal header img {
    cursor: pointer;
    position: relative;
    left: 95%;
    bottom: 160px;
}

.modal header h2 {
    font-size: 64px;
    font-weight: normal;
    text-align: start;
    margin: 0px;
}

.modal #message {
    padding-bottom: 60px
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
}

/* insert */ 
.insert {
    width: 380px;
    height: 70px;
    position: sticky;
    bottom: 0px;
    left: 100%;
    background: #DB8876;
    font-weight: 500;
    font-size: 24px;
    display: flex;
    justify-content: space-around;
}

.insert em,
.insert p {
    align-items: center;
    display: flex;
    justify-content: center;

}

.nmber_like {
    margin-left: 20px;
}

.insert i {
    margin-right: 100px;
}

/* lightbox */ 

.lightbox {
    display: none; 
    margin: auto;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: white;
    z-index: 100;
    overflow: hidden;
}



.lightbox_close {
    filter: invert(1);
    position: relative;
    left: 92%;
    top: 45px;
    cursor: pointer;
}

.lightbox .img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    height: 90vh;
    margin: auto;
    margin-top: 10px
}

.lightbox .img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.lightbox p {
    text-align: center;
}




.lightbox .left {
    font-size: 64px;
    position: sticky;
    bottom: 50%;
    left: 10px;
    text-decoration: none;
    border: transparent;
    background-color: white;
    cursor: pointer;
 }

 .lightbox .rigth {
    font-size: 64px;
    position:sticky;
    bottom: 50%;
    left: 96.5%;
    border: transparent;
    background-color: white;
    cursor: pointer;
 }